/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
  background: rgba(195, 240, 249, 0.2);
 }
 .container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  margin: 32px;

  width: 210.27px;
  height: 256px;

  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
}
.card__img-top {
  width: 210.27px;
  height: 143px;
}
.card__title{
  margin: 20px;
  color:#282828;
  font-size: 14px;
}
.card__description{
  color:#282828;
  font-size: 12px;
}
button{
  margin-left: 20px;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 6px 24px;
  appearance: none;
  color: #FFFFFF;
}